@model CityLibrary.Web.ViewModels.BorrowViewModel 

<div class="modal hide fade" id="borrow-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Nowe wypożyczenie książki</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <span class="control-label">Użytkownik</span>
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserId)
                </div>
            </div>
            <div class="book-list">
            </div>
            <div class="control-group">
                <div class="control-group">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn add-next-book pull-left">Dodaj kolejną</button>
        <button class="btn btn-primary make-order pull-left">Zapisz</button>
        <a href="#" class="btn" data-dismiss="modal">Zamknij</a>
    </div>
</div>
