@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    // po kliknięciu otwiera tak jak w edycji ksiązki nowe okno z widokiem
    // 
    $(document).ready(function () {

        $('.new-borrow').live('click', function (e) {
            // niedopuść domyślnej akcji po kliknięciu
            e.preventDefault();
            $('#b-modal').html('');

            $('.k-list-container').remove();

            var x = $.ajax({
                type: "POST",
                url: '/Borrow/NewBorrowView',
                async: true, // czy wywołanie asynchroniczne bool
                success: function (data) {
                    
                    $('#b-modal').html(data);
                },
                error: function (err) {
                    if (typeof console !== 'undefined') {
                        console.log('Error occured while getting response from method: ' + method + '. Response: ' + err.responseMessage);
                    }
                    alert('Błąd podczas pobierania widoku do nowego wypożyczanie książki');
                }
            });
        });

    });
    

</script>

@Html.ActionLink("Dodaj", "AddBorrow", null, new { @class="btn new-borrow" })

<br />
<br />
<br />

Lista Wypożyczeń tabela Borrow

<div id="b-modal"></div>